*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-shadow: rgb(0, 0, 0);
    font-family: 'Lucida Sans';
    
}
body{
    background-color: rgba(0, 0, 0,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 500px;
    height: 50vh;
    background-color: rgb(137, 174, 207);
    display: grid;
    place-content: center;
}

button{
    position: relative;
    width: 150px;
    height: 40px;
    font-size: 20px;
    /* transform: translate(20%); */
    bottom: -150px;
    border: aquamarine;
    background: rgb(54, 53, 53);
    color: aliceblue;
}

svg{
    position: absolute;
    width: 200px;
    top: 0px;
    left: -4px;
    
}


.hide{
    visibility: hidden;
}